node_modules
coverage
.env
client/dist
client/.parcel-cache
.DS_Store
.vscode
client/scripts/config.js

# terraform
.terraform
terraform/.terraform.lock.hcl
terraform/config.md
*.tfstate
*.tfstate.backup

# kubernetes 
configuration/kubernetes/api-configmap.yml